@font-face {
    font-family: Abel;
    src: url('../Fonts/Abel/Abel-Regular.ttf');
}
@font-face {
    font-family: Alegraya;
    src: url('../Fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf');
}
@font-face {
    font-family: Vollkorn;
    src: url('../Fonts/Vollkorn/Vollkorn-VariableFont_wght.ttf');
}