@import url('../CSS/fonts.css');

html,body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* --------------------------GLOBAL VARIABLES-------------------------*/
:root{

    /*----Font Styles-----*/
    --Abel:'Abel',cursive;
    --Alegraya: 'Alegraya',cursive;
    --Vollkorn: 'Vollkorn',cursive;
    /*-----Colors------*/
    --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-color:#0f0f0f;
    --white:#ffffff;
    --midnight:#104f55;
    /*---Gradient colors---*/
    --Blue-morpheus: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
/* --------------------------GLOBAL CLASSES--------------------------- */
a{
    text-decoration: none;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family: var(--Vollkorn);
    font-size: 2.5rem;
}

h3{
    font-family: var(--Alegraya);
    font-size: 1.6rem;
}

span{
    font-family: var(--Alegraya);
}
/* --------------------------------Navigation--------------------------- */
.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .nav-head a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Abel);
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .navlink{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Alegraya);
}

.nav .nav-items .navlink:hover{
    background-color: var(--text-gray);
}

.nav .nav-items .navlink:hover a{
    color: var(--white);
}

.nav .social{
    padding: 1.4rem 0;
}

.nav .social i{
    padding: 0 0.2rem;
}

.nav .social i:hover{
    color: #a1c4cf;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.collapse{
    height : 30rem;
}

.nav .toggle-collapse .toggle-icons i{
    color: var(--text-gray);
    font-size: 1.7rem;
}

/* --------------------------------Main Section--------------------------- */
/* -----------Title--------------*/
main .title{
    background: url('../assets/Background.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    border-radius: 0.2rem;
}

main .title .title-background{
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}

main .title h1{
    margin-top: 2.5rem;
}

main .title .btn{
    margin-top: 12rem;
    background: #87ceeb;
}

button.btn{
    padding: 1rem 3rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: var(--Alegraya);
}

main .title .btn:hover{
    background: transparent;
    color: var(--white);
    border: 2px solid var(--white);
}

/*-------Carousel--------*/
main .blog{
    background: url('../assets/abstract-main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
}

main .blog .blog-post{
    padding-top: 0.2rem;
}

main .content .blog-title{
    padding: 1rem 0;
}

main .blog-post .content{
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3rem 2rem;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    background: transparent;
}

main .content .btn-blog{
    padding: .7rem 2rem;
    background: var(--Blue-morpheus);
    margin: .5rem;
}

main .content span{
    display: block;
}


/*-----viewport less than 750 px--------*/
@media only screen and (max-width:750px){
 .nav .nav-menu,.nav .nav-items{
     flex-direction: column;
 }

 .nav .toggle-collapse{
     display: initial;
 }
}